/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

.wrapper{width: 100%; height: auto; position: relative;}

/* header Style Code */
header{position: absolute; width: 100%; display: flex; background: rgba(0, 0, 0, 0);}
header h1{width: 15%; padding: 15px 0 15px 50px;}
header h1 a{width: 100%;}
header h1 a img{width: 110px;}

header ul li{transition: all 0.4s;}
.main-menu{width: 80%; display: flex; justify-content: center; align-items: center; height: auto;}
.main-menu li{width: 100px; text-align: center; font-weight: 400; }

.second-menu{width: 15%; display: flex; justify-content: flex-end; align-items: center; padding-right: 50px;}
.second-menu li{width: 60px; text-align: center; font-weight: 400;}

header ul li:hover{background: rgba(60, 60, 60, 0.3); padding: 5px 10px; border-radius: 15px;;}

/* Main Section Layout Code */
.layout{width: 100%; height: 100vh;}
.layout.modelY{background-image: url(../img/desktop/Desktop-ModelY.jpg); background-size: cover; background-position: center;}


.layout .model-title{text-align: center; width: 100%; height: 70%;}
.layout .model-title h2{font-size: 42px; font-weight: 700; padding-top: calc(16vh - 20px); color: #454545;}
.layout .model-title a{border-bottom: 1px solid #454545;}

.layout .btns{width: 100%; height: 20%; display: flex; align-items: flex-end; justify-content: center;}
.layout .btns a{width: 250px; text-align: center; margin: 0 20px; padding: 10px 20px; background: #181b21; border-radius: 20px; font-size: 12px;}
.layout .btns a:nth-child(1){background: #181b21; border-radius: 20px; color: #fff;}
.layout .btns a:nth-child(2){background: #fefefe; border-radius: 20px;}