/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

.wrapper{width: 100%; height: auto; position: relative;}

/* header Style Code */
header{position: fixed; width: 100%; display: flex; background: rgba(0, 0, 0, 0); z-index: 10;}
header h1{width: 15%; padding: 15px 0 15px 50px;}
header h1 a{width: 100%;}
header h1 a img{width: 110px;}

header ul li{transition: all 0.4s;}
.main-menu{width: 80%; display: flex; justify-content: center; align-items: center; height: auto;}
.main-menu li{width: 100px; text-align: center; font-weight: 400; }

.second-menu{width: 15%; display: flex; justify-content: flex-end; align-items: center; padding-right: 50px;}
.second-menu li{width: 60px; text-align: center; font-weight: 400;}

header ul li:hover{background: rgba(60, 60, 60, 0.3); padding: 5px 10px; border-radius: 15px;}

/* Main Section Layout Code */

.bg{width: 100%; height: 100vh; transition: all 0.4s;}
.bg.modelY{background-image: url(../img/desktop/main01.jpg); background-size: cover; background-position: center;}
.bg.model3{background-image: url(../img/desktop/main02.jpg); background-size: cover; background-position: center;}
.bg.modelX{background-image: url(../img/desktop/main03.jpg); background-size: cover; background-position: center;}
.bg.modelS{background-image: url(../img/desktop/main04.jpg); background-size: cover; background-position: center;}
.bg.Power{background-image: url(../img/desktop/main05.jpg); background-size: cover; background-position: center;}

.layout{position: absolute; top: 0; width: 100%; height: auto; }
.layout .main-con, .modelCon{width: 100%; height: 100vh; _position: fixed;}
.layout .model-title{text-align: center; width: 100%; height: 70%; _position: fixed;}
.layout .model-title h2{font-size: 42px; font-weight: 700; padding-top: calc(16vh - 20px); color: #454545;}
.layout .model-title a{border-bottom: 1px solid #454545;}

.layout .btns{width: 100%; height: 20%; display: flex; align-items: flex-end; justify-content: center; _position: fixed; _bottom: 150px;}
.layout .btns a{width: 250px; text-align: center; margin: 0 20px; padding: 10px 20px; background: #181b21; border-radius: 20px; font-size: 12px;}
.layout .btns a:nth-child(1){background: #181b21; border-radius: 20px; color: #fff;}
.layout .btns a:nth-child(2){background: #fefefe; border-radius: 20px;}

.Power>.btns a{margin-bottom: 30px;}

/* .main-con.active{_transition:all 3s; opacity: 1; top: 0; animation: fadeIn 1s; display: block;}
.visi{opacity: 1; transition: 3s; display: none; _position: sticky; top: 0; _visibility: hidden; _transition: all 0.4s; animation: fadeOut 1s;} */

.layout .main-con{visibility: hidden; position: fixed;}
/* .layout div{visibility: hidden;} */
/* .layout nav div{visibility: visible; } */

.fadeOut{visibility: hidden !important; opacity: 0; transition: visibility 0s linear 0ms, opacity 4000ms;}
.fadeIn{visibility: visible !important; opacity: 1; transition: visibility 0s linear 0s, opacity 4000ms;}


/* Footer Style Code */
footer{color: #fff; width: 600px; position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%); }
footer ul{display: flex; justify-content: center;}
footer ul li{padding: 5px 10px;}
footer ul a{color: #fff; font-size: 10px; font-weight: 300;}
footer p{width: 90%; text-align: center; font-size: 10px; font-weight: 300; margin: 0 auto;}

/* moda Menu Style Code */
.modal_menu{position: absolute; top: 0; width: 100%; height: 100%; display: none;z-index: 20; left: 0;}

.modal_menu .menuigm{top: 0; width: 100%; height: 100%; position: fixed;
}

.blur{  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
}

.modal_menu .menu{width: 300px; background: #fefefe; z-index: 30; position: absolute; right: 0; height: 100%; box-shadow: 5px 0 0 0 rgba(0, 0, 0, 0.06);}
.modal_menu .menu .close-btn{width: 100%; height: 80px; background: #fefefe; z-index: 40; position: sticky; top: 0; display: flex; justify-content: right; align-items: center;}
.modal_menu .menu p{display: inline-block; border-radius: 25px; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center; position: fixed; right: 30px; top : 15px; font-size: 24px;}
.modal_menu .menu p:hover{background: #f3f3f3;}
/* .modal_menu .modal_wrap{padding-top: 60px;} */
.modal_menu .menu ul{width: 100%; padding: 0 0 0 40px;}
.modal_menu .menu ul li{padding: 10px;}
.modal_active{display: block;}


/* Mobile Menu Style Code */
.mobile_menu{position: fixed; right: 15px; top: 15px; border-radius: 15px; background: rgba(60, 60, 60, 0.3); padding: 5px 10px; font-size: 12px; width: 60px; text-align: center; display: none; right: 0; height: auto; overflow-y: initial !important;}
.mobile_btn{display: none; margin-top: 10px;}
.modal_wrap{padding-bottom: 100px;}
.modal_wrap .second-menu{display: none;}
.modal_wrap .second-menu li{text-align: left;}
.modal_wrap .second-menu li:nth-child(4) a{text-decoration: none; display: flex; justify-content: space-between; align-items: center;}

.modal_wrap{overflow: auto; height: 100vh;}
.modal_wrap li{width: 90%; padding: 5px 10px; border-radius: 15px; transition: all 0.4s;}
.modal_wrap li:hover{background: rgba(60, 60, 60, 0.1); padding: 5px 10px; border-radius: 15px; transition: all 0.4s;}


i{font-style: normal;}


/* ModelS background Image Code */
.modelS-img .bg.modelS01{background-image: url(../img/modelS/modelS01.jpg); background-size: cover; background-position: center;}
.modelS-img .blackBar{width: 100%; background: black; height: 100px;}
.modelS-img .bg.modelS02{background-image: url(../img/modelS/modelS02.jpg);background-size: cover; background-position: top; height: 100vh;}
.blackbg{background: black; height: 90vh;}

.hold{position: absolute;}

/* ModelS Page 1 Style Code */
.modelCon{display: flex; flex-direction: column; justify-content: space-between; align-items: center;}
.layout .model-title p{font-weight: 100; font-size: 14px; color: #454545;}

.modelCon .bottomCon{width: 100%; display: flex; justify-content: center; flex-direction: column; align-items: center; padding: 30px 0; }
.modelCon .bottomCon-wrap{display: flex; justify-content: space-between; width: 800px; color: #fff; text-align: center; padding: 20px 0;}
/* .bottomCom-txt{width: 100%;} */
.modelCon .bottomCon-wrap .number{font-size: 28px; font-weight: 600;}
.modelCon .bottomCon-wrap .number i{font-style: normal; font-size: 26px; font-weight: 600;}
.modelCon .bottomCon-wrap .number-intro{font-size: 12px; font-weight: 300;}
.modelCon .bottomCon-wrap .bottomCom-btn{display: flex; align-items: center;}

.modelCon .bottomCon-wrap .bottomCom-btn a{color: #fff;  font-size: 10px; border: 3px solid #fff; padding: 5px 32px; border-radius: 20px; padding-bottom: 8px;}
.modelCon .bottomCon-wrap .bottomCom-btn a:hover{background: #fff; color: #181b21; transition: all 0.4s;}

.bottomCon .bottomTxt p{color: #fff; font-size: 12px; font-weight: 300;}

/* ModelS Page 2 Style Code */
.blackBar{color: #fff; padding: 15px; font-size: 24px; font-weight: 300; display: flex; justify-content: center;height: 100px;}

/* ModelS Page 3 Style Code */
.blackbg-wrap{position: relative; height: 250vh; background: black;}

.slideBox-wrap{width: 90%; padding-top: 80px; margin: 0 auto; display: flex; position: relative; flex-direction: column; align-items: center; height: 100%;}
.slideBox-wrap .slideBox-container{ width: 100%; max-width: 1090px; height: auto; display: flex; align-items: center; position: relative;}
.slideBox-wrap .slideBox-container .slideBox{width: 100%;margin: 0 auto; display: none;}
.slideBox-wrap .slideBox-container .slideBox img{width: 100%;}
.slideBtn{position: absolute; width: 100%;}
.slideBtn a{font-size: 18px; color: #fff; border: 3px solid; padding: 0 10px 3px 10px; text-align: center; position: absolute; background: rgba(0, 0, 0, 0.3); cursor: pointer;}
.slideBtn a:nth-child(1){left: 30px;}
.slideBtn a:nth-child(2){right: 30px;}

.notxt{width: 100%; height: 100vh;}

.slideBody{width: 100%; max-width: 1090px; display: flex; justify-content: center; padding: 30px 0;}
.slideBody .slideDot{display: flex; justify-content: center; padding: 10px;}
.slideBody .slideDot .dot{cursor: pointer; height: 8px; width: 8px; border-radius: 50%; display: inline-block; margin: 0 5px; transition: all 0.4s; border: 1px solid #fff; right: 0;}
/* .slideBody .slideTxt{width: 100%; display: ;} */
.slideBody .slideTxt_body{max-width: 650px;left: 0; display: none;}
.slideTxt_body h3{font-size: 24px; color: #fff; font-weight: 400; padding: 0 10px;}
.slideTxt_body p{color: #fff; padding: 10px;}

.dot.active{background: #fff;}

.blackBar{background: black;}
.boxCon-wrap{max-width: 1090px;  display: flex; flex-wrap: wrap; margin: 100px;}
.boxCon-wrap .boxCon{width: 50%; color: #fff; display: flex; flex-direction: column;}
.boxCon-wrap .boxCon img{width: 100%;}
.boxCon .boxTxt{width: 80%;}
.boxCon .boxTxt h4{padding: 20px 0;}
.boxCon .boxTxt p{padding-bottom: 30px;}

.boxCon-wrap .boxCon:nth-child(2){align-items: flex-end; justify-content: center;}
.boxCon-wrap .boxCon:nth-child(3){align-items: flex-start; justify-content: center;}
.boxCon-wrap .boxCon:nth-child(6){align-items: flex-end; justify-content: center;}
.boxCon-wrap .boxCon:nth-child(7){align-items: flex-start; justify-content: center;}

/* ModelS Page 4 Style Code */
.modelS11{background-image: url(../img/modelS/modelS11.jpg); background-size: cover; background-position: center; width: 100%; height: 75%; position: relative;}
.modelS11 .bottomCon-wrap{max-width: 570px;}

.modelS11 .bottomCon{position: absolute; bottom: 25px; }

.modelS11-txt{width: 100%; height: 30%; display: flex; justify-content: center; align-items: flex-start; padding-top: 50px;}
.modelS11-txt-center{display: flex; max-width: 950px; flex-wrap: wrap;}
.modelS11-txt-center-tit{width: 37%;}
.modelS11-txt-center-tit i{font-weight: 300; font-size: 16px;}
.modelS11-txt-center-tit p{font-size: 30px; font-weight: 400; line-height: 95%;}
.modelS11-txt-center-body{width: 63%; font-weight: 300; font-size: 15px;}
.modelS11-txt-center-btn{height: 30px; margin-top: 15px;}
.modelS11-txt-center-btn a{color: #111;  font-size: 12px; border: 3px solid #111; padding: 5px 32px; border-radius: 20px; padding-bottom: 8px; font-weight: 300;}
.modelS11-txt-center-btn a:hover{background: black; color: #fff; transition: all 0.4s;}


/* ModelS Page 5 Style Code */
.greybg{background: #f5f5f5; height: auto;}
.tranin-wrap{max-width: 900px; display: flex; flex-direction: column; align-items: center; padding-top: 80px;}

.tranin-wrap .trainImg{width: 100%;}
.tranin-wrap .trainImg img{width: 100%;}

.tranin-wrap .train-tit{max-width: 750px;}
.tranin-wrap .train-tit h3{font-size: 28px; font-weight: 300; line-height: 36px; margin-bottom: 15px;}
.tranin-wrap .train-tit p{margin-bottom: 30px; font-size: 15px; font-weight: 300; width: 90%;}

.trainIBtn-wrap{width: 100%; padding: 20px 10px; display: flex; justify-content: center; position: relative;}
.trainIBtn-wrap .trainIBtn{width: 396px; height: 190px; border-top: 3px solid #181b21; padding: 15px 15px 0 15px; margin: 0 15px; color: #656565; cursor: pointer; z-index: 999; display: flex; flex-direction: column; justify-content: space-between;}
.trainIBtn-wrap .trainIBtn h5{font-size: 18px; font-weight: 400; margin-bottom: 10px;}
.trainIBtn-wrap .trainIBtn .body{font-weight: 300; margin-bottom: 10px;}
.trainIBtn-wrap .trainIBtn .info-wrap{display: flex; width: 100%;}
.trainIBtn-wrap .trainIBtn .info-wrap .info{width: 50%; margin-bottom: 15px; color: #656565;}
.trainIBtn-wrap .trainIBtn .info-wrap .info p{font-size: 24px; font-weight: 700;}


.infoBox{position: absolute; border: 3px solid #181b21; width: 100%; width:396px; height: 190px; top: 0; margin: 20px 39px; z-index: 0; transition: all 0.4s; left: 0;}

.trainIBtn.check{color: #181b21; transform: translateX();}

.tranin-wrap>p{margin-bottom: 100px; font-weight: 300; padding: 20px 0; color: #656565;}
