@media screen and (max-width: 1200px){
header ul{display: none!important;}
.mobile_menu, .mobile_btn, .modal_wrap .second-menu{display:block}
.modal_wrap{overflow: auto;}
footer{width: 100%;}
}

@media screen and (max-width: 640px){
  .main-con .btns{display: flex; flex-direction: column; align-items: center;}
  .main-con .btns a{width: 100%; margin-top: 10px;}
  
  footer ul li:nth-child(4){display: none;}
  footer ul li:nth-child(5){display: none;}
  footer ul li:nth-child(6){display: none;}
  footer ul li:nth-child(8){display: none;}
}

@media screen and (max-width: 480px){
  
}