@media screen and (max-width: 1200px){
header ul{display: none!important;}
header h1{padding: 20px 0 20px 30px;}
.mobile_menu, .mobile_btn, .modal_wrap .second-menu{display:block; margin: 2px;}
.modal_wrap{overflow: auto;}
footer{width: 100%;}
}

@media screen and (max-width: 900px){
  .boxCon-wrap{margin: 0;}
  .boxCon-wrap .boxCon, .boxCon .boxTxt{width: 100%;}
  .boxCon .boxTxt{padding: 10px 20px;}
  .boxCon-wrap .boxCon:nth-child(1){order: 1;}
  .boxCon-wrap .boxCon:nth-child(2){order: 2;}
  .boxCon-wrap .boxCon:nth-child(3){order: 4;}
  .boxCon-wrap .boxCon:nth-child(4){order: 3;}
  .boxCon-wrap .boxCon:nth-child(5){order: 5;}
  .boxCon-wrap .boxCon:nth-child(6){order: 6;}
  .boxCon-wrap .boxCon:nth-child(7){order: 8;}
  .boxCon-wrap .boxCon:nth-child(8){order: 7;}


  .modelS11-txt{width: 90%;}
  .modelS11-txt-center-btn{margin-top: 0;}




  
}

@media screen and (max-width: 850px){

  .tranin-wrap{width: 100%;}
  .tranin-wrap .train-tit{width: 80%;}

  .trainIBtn-wrap{width: 80%; max-width: 420px;}
  .trainIBtn-wrap .trainIBtn{width: 200px; height: 310px;}
  .trainIBtn-wrap .trainIBtn .info-wrap{flex-wrap: wrap;}
  .trainIBtn-wrap .trainIBtn .info-wrap .info{width: 100%;}
  .infoBox{width: 200px; height: 320px;}


}


@media screen and (max-width: 700px){
  .modelS11-txt-center-tit{width: 100%;}
  .modelS11-txt-center-body{width: 100%; padding: 10px 0;}
  .modelS11-txt-center-btn{margin-top: 10px;}
  .layout>div:nth-child(5){height: 120vh;}
}

@media screen and (max-width: 640px){
  .main-con .btns{display: flex; flex-direction: column; align-items: center;}
  .main-con .btns a{width: 100%; margin-top: 10px; transition: all 0.4s;}
  
  footer ul li:nth-child(4){display: none;}
  footer ul li:nth-child(5){display: none;}
  footer ul li:nth-child(6){display: none;}
  footer ul li:nth-child(8){display: none;}

  .bg.modelY{background-image: url(../../img/mobile/mobile_01.jpg); background-size: cover; background-position: center;}
.bg.model3{background-image: url(../../img/mobile/mobile_02.jpg); background-size: cover; background-position: center;}
.bg.modelX{background-image: url(../../img/mobile/mobile_03.jpg); background-size: cover; background-position: center;}
.bg.modelS, .modelS-img .bg.modelS01{background-image: url(../../img/mobile/mobile_04.jpg); background-size: cover; background-position: center;}
.bg.Power{background-image: url(../../img/mobile/mobile_05.jpg); background-size: cover; background-position: center;}

footer{bottom: 30px;}


.modelCon .bottomCon-wrap{flex-wrap: wrap; justify-content: space-around;}
.modelCon .bottomCon-wrap .bottomCom-txt:nth-child(4){display: none;}
.modelCon .bottomCon-wrap .bottomCom-btn{width: 100%; justify-content: center;}
.modelCon .bottomCon-wrap .bottomCom-btn{display: block; width: 100%;}
.modelCon .bottomCon-wrap .bottomCom-btn a{display: block; width: 100%; margin-top: 15px; padding: 10px 32px; font-size: 14px; }

.slideBox-wrap{width: 100%;}
.slideBody{flex-direction: column;}
.slideBody .slideDot{justify-content: flex-start;}


}

@media screen and (max-width: 600px){
  header h1{padding: 20px 0 20px 15px;}
  .main-con .btns a{width: 90%; margin-top: 20px; padding: 12px 20px;}
  .solorBtn{position: absolute; top: 50%;}
}

@media screen and (max-width: 500px){
  .trainIBtn-wrap{width: 90%; flex-wrap: wrap;}
  .trainIBtn-wrap .trainIBtn{width: 90%; height: 200px;}
  .trainIBtn-wrap .trainIBtn .info-wrap{flex-wrap: unset; width: 100%;}
  .trainIBtn-wrap .trainIBtn .info-wrap .info{width: 100%;}
  .infoBox{width: 200px; height: 320px;}

  .infoBox{display: none;}
}

@media screen and (max-width: 400px){
  .layout .model-title h2{font-size: 32px;}
  .bottomTxt{width: 80%; text-align: center;}

  .modelCon .bottomCon-wrap .number{font-size: 26px; font-weight: 400;}
  .modelCon .bottomCon-wrap .number i{font-size: 20px; font-weight: 400;}
  .modelCon .bottomCon-wrap .number-intro{font-size: 8px;}
}

@media screen and (max-width: 350px){
  footer{display: none;}
}